
.blue {
	color: 19B5FE;
	background-color: 19B5FE;
}

.lightblue {
	color: 86E2D5;
	background-color: #86E2D5;
}

.pink {
	color: E08283;
	background-color: #E08283;
}

.grey {
	color: 67809F;	
	background-color: #67809F;
}

.skyblue{
	color: C5EFF7;
	background-color: #C5EFF7;
}

.darkgrey {
	color: 2C3E50;
	background-color: #2C3E50;
}

.orange{
	color: F89406;
	background-color: #F89406;
}

.white{
	color: #ecf0f1;
	background-color: #ecf0f1;
}

.salmon{
	color: #F64747;
	background-color: #F64747;
}

.yellow{
	color: F7CA18;
	background-color: F7CA18;
}


